[defaults]

forks = 2

# Do not check ssh host keys
host_key_checking = False

# The place where inventory data is
inventory = /container/config/inventory/hosts.yml

# The path to some stuff used for Ansible extension
roles_path = ./roles:/home/ansible/ansible714/roles:./foreign
library = ./modules:/home/ansible/ansible714/modules:./foreign/infra-ovh-ansible-module/plugins/modules

# Foreign plugins
action_plugins = ./actions:./foreign/infra-ovh-ansible-module/plugins/action

# Connection plugins
connection_plugins = /home/ansible/ansible714/plugins/connection/

# set plugin path directories here, separate with colons
#action_plugins     = /usr/share/ansible/plugins/action
#cache_plugins      = /usr/share/ansible/plugins/cache
#callback_plugins   = /usr/share/ansible/plugins/callback
#connection_plugins = /usr/share/ansible/plugins/connection
#lookup_plugins     = /usr/share/ansible/plugins/lookup
#inventory_plugins  = /usr/share/ansible/plugins/inventory
#vars_plugins       = /usr/share/ansible/plugins/vars
#filter_plugins     = /usr/share/ansible/plugins/filter
#test_plugins       = /usr/share/ansible/plugins/test
#terminal_plugins   = /usr/share/ansible/plugins/terminal
#strategy_plugins   = /usr/share/ansible/plugins/strategy

# The path to log files
log_path = /container/logs/ansible.log
